* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden !important;
    width: 100dvw;
    height: 100dvh;
}

#app {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden !important;
}